@font-face{
    font-family: neutra;
    src: url(../Neutra\ Text\ Book.otf)
}

*{
    padding: 0;
    margin: 0;
}

header{
    position: relative;
}

nav{
    background-color: black;
    display: flex;  
    justify-content: center;
    align-items: center;
    min-height: 100px;
    font-family: Neutra, Arial, sans-serif;
    text-transform: uppercase;
    gap: 20px;
    flex-wrap: wrap;
   




}
nav div a{
    background-color: #d86b33;
    border: 1px solid #d86b33 ;
    padding: 9px 20px;
    margin: 0 6px;



}
nav div a:hover{
    background-color: black;
    color:  #d86b33 ;



}

nav h1{
    color: white;
    font-size:70px ;
    margin-right: 50px;


}

nav a{
    text-decoration: none;
    color: white;

}

nav ul{
    list-style: none;  
    display: flex;
    gap: 20px;
    white-space: nowrap;
    flex-wrap: wrap;
    justify-content: center;


}
nav ul a:hover{
    color: rgb(129, 126, 126);
    border-bottom: #d86b33;
    



}

nav div a, nav ul a{
    font-size: 18px;

}
/* Dropdown */

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: violet;
    list-style: none;
    left: 0;
    top: 100%;
    
}

.dropdown-content a{
    padding: 20px 8px ;
    display:block;
    opacity: 1;
   
    transition: all .25s ease;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* hamburger menu */

#hamburger{
    display: none;
}

header > label{
    position: fixed;
    right: 10px;
    top: 22px;
    padding: 20px;
    background-color: #d86b33;
    cursor: pointer;
    z-index: 9999;
    display: none; /* hamburger menu only for mobile version */
}

.hamburger-icons,
.hamburger-icons::before,
.hamburger-icons::after{
    content: "";
    display: block;
    width: 22px;
    height: 3px;
    background-color: whitesmoke;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all .60s ease-in-out;
}

.hamburger-icons::before{
    transform: translate(-50%,-6px);
}

.hamburger-icons::after{
    transform: translate(-50%,6px);
}

#hamburger:checked + label .hamburger-icons{
    background: transparent;

}
#hamburger:checked + label .hamburger-icons::before{
    transform: translateX(-50%) rotate(45deg);
}
#hamburger:checked + label .hamburger-icons::after{
    transform: translateX(-50%) rotate(-45deg);
}

/* hamburger-overlay */

.hamburger-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.hamburger-overlay > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-overlay > ul li a{
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.hamburger-overlay > ul li a:hover{
    border-bottom: solid orangered;
}




@media screen and (max-width: 900px){
    header > label{
        display: block;
    }

    header nav > *:not(:nth-child(1)){
        display: none;
    }
    
}

